{% extends 'base.html.twig' %}

{% set navType = 'default' %}

{% block title %}De Werkplaats{% endblock %}

{% block body %}
    <div class="aboutcontainer">
        <div class="black">
            <p class="abouttext">
            MKB Werkplaats<br/>
            079 – 820 03 96<br/>
            Bleiswijkseweg 37 2712 PB Zoetermeer<br/>
            info@dutchinnovationfactory.nl
            </p>
        </div>
        <div class="white">
            <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2453.8299060595086!2d4.5126747157574325!3d52.046410779727246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5cec429a6395f%3A0x13e973bd0ecd70c!2sDutch%20Innovation%20Factory!5e0!3m2!1snl!2snl!4v1574160844718!5m2!1snl!2snl" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>
    </div>
{% endblock %}