{% extends 'base.html.twig' %}

{% set navType = 'default' %}

{% block title %}New Contactform{% endblock %}

{% block body %}
    <div class="formcontainer">
        {{ include('contactform/_form.html.twig') }}
    </div>
{% endblock %}
