<body>
    <p>
        Nieuwe mail onvangen van: {{ name }}, {{ email }}<br />
        Bericht aangemaakt om: {{ datetime|date("Y/m/d H:i:s") }}<br />
        Bericht: {{ message }}<br />
    </p>
</body>