<footer class="footer">
    <div class="footerrow">
        <div class="footercolumn--logo">
            <img class="footerlogo" src="{{asset('images/logo.png')}}">
            <p>Samenwerking.</p>
        </div>
        <div class="footercolumn">
            <p class="footertitle">Links</p>
            <ul class="footerlist">
                <li><a href="">Home</a></li>
                <li><a href="">Over ons</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
        <div class="footercolumn">
            <p class="footertitle">Contact</p>
            <ul class="footerlist">
                <li><a href="https://mborijnland.nl">www.mborijnland.nl</a></li>
                <li><a href="tel:0882221777">088 222 1777</a></li>
                <li>Van Doornenplantsoen 11</li>
                <li>2722 ZA Zoetermeer</li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p>© mkbdigiwerkplaats.nl 2019. Alle rechten voorbehouden. | Privacy Verklaring | Algemene Voorwaarden</p>
    </div>
</footer>